################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Console/Debug
/Console/Release
/Console/x64
/Console/Console.vcxproj.user
/Debug
/Release
/x64
/BigInteger/Debug
/BigInteger/Release
/BigInteger/x64
/BigInteger/BigInteger.vcxproj.user
